Importação das bibliotecas

In [2]:
import pandas as pd

Criação do DataFrame

In [26]:
dados_principais = {
'Item':['Mão-de-obra direta','Matéria-prima direta','Energia elétrica','Outros custos','Despesas de vendas','Vendas = produção','Preço unitário de venda','Depreciação'],
'Custo/Unidade':[2,1,0.5,1.3,2.5,5000,10,6000,],
'Incremento Anual Projetado/%a.a':[7,8,10,5,7,3,0,0]
}


df_principal = pd.DataFrame(dados_principais)

imposto_renda = (3400/100)

dados_imposto_renda = {
    'Imposto de renda':[imposto_renda]
}
df_imposto_renda = pd.DataFrame(dados_imposto_renda)

Exibindo o DataFrame

In [27]:
display(df_principal)
display(df_imposto_renda)

                      Item  Custo/Unidade  Incremento Anual Projetado/%a.a
0       Mão-de-obra direta            2.0                                7
1     Matéria-prima direta            1.0                                8
2         Energia elétrica            0.5                               10
3            Outros custos            1.3                                5
4       Despesas de vendas            2.5                                7
5        Vendas = produção         5000.0                                3
6  Preço unitário de venda           10.0                                0
7              Depreciação         6000.0                                0

   Imposto de renda
0              34.0