Importação das bibliotecas

In [10]:
import pandas as pd

Criação do DataFrame

In [11]:
dados_principais = {
'Item':['Mão-de-obra direta','Matéria-prima direta','Energia elétrica','Outros custos','Despesas de vendas','Vendas = produção','Preço unitário de venda','Depreciação'],
'Custo/Unidade':[2,1,0.5,1.3,2.5,5000,10,6000,],
'Incremento Anual Projetado/%a.a':[7,8,10,5,7,3,0,0]
}


df_principal = pd.DataFrame(dados_principais)

imposto_renda = (3400/100)

dados_imposto_renda = {
    'Imposto de renda':[imposto_renda]
}
df_imposto_renda = pd.DataFrame(dados_imposto_renda)

Exibindo o DataFrame

In [12]:
display(df_principal)
display(df_imposto_renda)

                      Item  Custo/Unidade  Incremento Anual Projetado/%a.a
0       Mão-de-obra direta            2.0                                7
1     Matéria-prima direta            1.0                                8
2         Energia elétrica            0.5                               10
3            Outros custos            1.3                                5
4       Despesas de vendas            2.5                                7
5        Vendas = produção         5000.0                                3
6  Preço unitário de venda           10.0                                0
7              Depreciação         6000.0                                0

   Imposto de renda
0              34.0

In [1]:
import pandas as pd

# Dados organizados em um dicionário
dados = {
    'Categoria': [
        'Vendas', 'Receita de vendas',
        'Mão-de-obra direta', 'Matéria-prima direta', 'Energia elétrica', 'Outros custos',
        'Lucro bruto',
        'Despesa de vendas', 'Depreciação',
        'Lucro antes de juros e IR (Lajir)', 'Imposto de renda', 'Lucro após IR', 'Depreciação',
        'Fluxo de caixa livre (FCL)', 'FCL incremental (C - S)'
    ],
    'Custo unitário S': ['', '', '2,0', '1,0', '0,5', '1,3', '', '2,5', '', '11,05', '', '', '', '', ''],
    'Custo unitário C': ['', '', '1,9', '1,1', '0,4', '1,3', '', '2,5', '', '11,10', '', '', '', '', ''],
    'Ano 1 S': [5000, 50000, -10600, -5400, -2650, -6825, 24425, -13737, 0, 11005, -3757, 7293, 0, 7293, ''],
    'Ano 1 C': [5150, 51500, -6551, -5562, -2626, -7370, 29091, -14511, -6000, 13403, -3814, 7403, 6000, 13403, 6110],
    'Ano 2 S': [5305, 51000, -11236, -5832, -2562, -7166, 22204, -14211, 0, 8430, -3214, 5636, 0, 5636, ''],
    'Ano 2 C': [5000, 50000, -7112, -4687, -2327, -7203, 24930, -12613, 0, 12781, -3193, 9588, 0, 12781, 7218],
    'Ano 3 S': [5000, 53045, -11910, -6287, -3328, -7528, 20993, -15133, 0, 5626, -1913, 6714, 0, 6714, ''],
    'Ano 3 C': [5464, 54640, -8709, -7683, -3660, -8292, 28914, -16495, 0, 12452, -3133, 9319, 0, 12452, 8329],
    'Ano 4 S': [5000, 50000, -10289, -5622, -2376, -7221, 19492, -13654, 0, 5838, -1987, 3842, 0, 3842, ''],
    'Ano 4 C': [5628, 56725, -8526, -7556, -3054, -8896, 27906, -14699, 0, 7277, -2664, 5172, 6000, 11172, 9439]
}

# Criação do DataFrame
df = pd.DataFrame(dados)

# Exibindo o DataFrame
display(df)

,Categoria,Custo unitário S,Custo unitário C,Ano 1 S,Ano 1 C,Ano 2 S,Ano 2 C,Ano 3 S,Ano 3 C,Ano 4 S,Ano 4 C
0,Vendas,,,5000,5150,5305,5000,5000,5464,5000,5628
1,Receita de vendas,,,50000,51500,51000,50000,53045,54640,50000,56725
2,Mão-de-obra direta,"2,0","1,9",-10600,-6551,-11236,-7112,-11910,-8709,-10289,-8526
3,Matéria-prima direta,"1,0","1,1",-5400,-5562,-5832,-4687,-6287,-7683,-5622,-7556
4,Energia elétrica,"0,5","0,4",-2650,-2626,-2562,-2327,-3328,-3660,-2376,-3054
5,Outros custos,"1,3","1,3",-6825,-7370,-7166,-7203,-7528,-8292,-7221,-8896
6,Lucro bruto,,,24425,29091,22204,24930,20993,28914,19492,27906
7,Despesa de vendas,"2,5","2,5",-13737,-14511,-14211,-12613,-15133,-16495,-13654,-14699
8,Depreciação,,,0,-6000,0,0,0,0,0,0
9,Lucro antes de juros e IR (Lajir),"11,05","11,10",11005,13403,8430,12781,5626,12452,5838,7277
10,Imposto de renda,,,-3757,-3814,-3214,-3193,-1913,-3133,-1987,-2664
11,Lucro após IR,,,7293,7403,5636,9588,6714,9319,3842,5172
12,Depreciação,,,0,6000,0,0,0,0,0,6000
13,Fluxo de caixa livre (FCL),,,7293,13403,5636,12781,6714,12452,3842,11172
14,FCL incremental (C - S),,,,6110,,7218,,8329,,9439